<div class="grouping-cards-container my-2 sm:my-4">
  @if (true) {
    <section rusbe-card-group [title]="'PELO APP'">
      @for (paymentMethod of inAppPaymentMethods; track $index) {
        <button
          rusbe-card-button
          [iconName]="PAYMENT_METHOD_ICONS[paymentMethod]"
          [disabled]="paymentMethod === 'Cartão de crédito'"
          [subtitle]="PAYMENT_METHOD_MESSAGES[paymentMethod]"
          (click)="handlePaymentMethodSelection(paymentMethod, 'InApp')"
        >
          {{ paymentMethod }}
        </button>
      }
    </section>

    <section rusbe-card-group [title]="'PRESENCIALMENTE NO GUICHÊ'">
      @for (paymentMethod of inLocoPaymentMethods; track $index) {
        <button
          rusbe-card-button
          [iconName]="PAYMENT_METHOD_ICONS[paymentMethod]"
          [subtitle]="'Dirija-se ao guichê para completar a compra.'"
          (click)="handlePaymentMethodSelection(paymentMethod, 'InLoco')"
        >
          {{ paymentMethod }}
        </button>
      }
    </section>
  } @else {
    <div
      class="grouping-card flex h-80 flex-col items-center justify-center sm:h-96"
    >
      <rusbe-spinner class="h-8 w-8 text-accent"></rusbe-spinner>
      <p class="pt-2 text-base sm:pt-4 sm:text-xl">Um momento...</p>
    </div>
  }
</div>
