<header class="flex flex-row items-center gap-2 pt-2 text-header sm:pt-4">
  @if (hasLogo()) {
    <h1 class="h-6 text-base sm:h-8">
      <a href="/">
        <rusbe-logo></rusbe-logo>
      </a>
    </h1>
  }

  @if (hasBackButton()) {
    <rusbe-back-button
      [customAction]="customAction()"
      [colorScheme]="buttonColorSchemeMap[type()]!"
    ></rusbe-back-button>
  }

  @if (hasPageName()) {
    <h1
      class="geometric-title text-lg sm:text-xl"
      [ngClass]="{
        'text-farofa-tint':
          type() === HeaderType.PageNameWithBackButtonOnColoredBackground,
      }"
    >
      <ng-content></ng-content>
    </h1>
  }

  <div class="ml-auto">
    @if (hasUserAccountButton()) {
      <rusbe-user-account-button></rusbe-user-account-button>
    }
    @if (hasCloseButton()) {
      <rusbe-close-button
        [colorScheme]="buttonColorSchemeMap[type()]!"
      ></rusbe-close-button>
    }
  </div>
</header>
