<div class="p-safe">
  <div class="reduced-page-container p-4">
    <rusbe-header [type]="HEADER_TYPE"> Sua conta </rusbe-header>
  </div>

  <div class="reduced-page-container">
    <main class="grouping-cards-container my-2 sm:my-4">
      <!-- TODO: Banner to complete General Goods wizard if not so -->
      <div
        class="px-responsive sm: flex flex-row items-center gap-4 py-4 sm:gap-6 sm:py-6"
      >
        <rusbe-user-avatar class="h-12 w-12 sm:h-16 sm:w-16" />
        <div class="flex flex-col">
          <p class="text-condensed text-lg sm:text-2xl">
            {{ currentRusbeUser()?.displayName }}
          </p>
          <p class="font-geometric tabular-nums">{{ maskedCPF() }}</p>
        </div>
      </div>

      @if (authState() === AccountAuthState.LoggedIn) {
        <section class="grouping-card px-responsive">
          <h2 class="grouping-card-title">Créditos</h2>
          <rusbe-balance-viewer
            [colorScheme]="BALANCE_VIEWER_COLOR_SCHEME"
          ></rusbe-balance-viewer>

          @if (false) {
            <!-- TODO: Add credits flow -->
            <div class="pb-1 pt-4 sm:pb-2 sm:pt-6">
              <button
                class="button-fill button-full justify-start focus:ring-offset-overlay"
              >
                <ng-icon name="lucidePlus" aria-hidden="true"></ng-icon>
                <span>Adicionar créditos</span>
              </button>
            </div>
          }
        </section>

        <section class="grouping-card">
          <h2 class="grouping-card-title px-responsive">
            Seus dados na General Goods
          </h2>

          <div
            class="grouping-card-strip flex flex-row items-center gap-4 border-b-2 border-accent/10 sm:gap-6"
          >
            <ng-icon
              class="min-w-fit"
              name="lucideMail"
              aria-hidden="true"
            ></ng-icon>
            <span class="w-full">E-mail</span>
            <span class="select-all font-bold">{{ accountData()?.email }}</span>
          </div>

          @if (plainTextPassword() !== undefined) {
            <div
              class="grouping-card-strip flex flex-row items-center gap-4 border-b-2 border-accent/10 sm:gap-6"
            >
              <ng-icon
                class="min-w-fit"
                name="lucideKeyRound"
                aria-hidden="true"
              ></ng-icon>
              <span class="w-full">Senha</span>
              <span class="select-all font-bold">
                {{ plainTextPassword() }}
              </span>
            </div>

            <div class="px-responsive my-4 sm:my-6">
              <button
                class="button-outline button-full justify-start px-4 focus:ring-offset-background sm:px-6"
                (click)="hideGeneralGoodsPassword()"
              >
                <ng-icon name="lucideEyeOff" aria-hidden="true"></ng-icon>
                <span>Esconder meus dados</span>
              </button>
            </div>
          } @else {
            <div
              class="grouping-card-strip flex flex-row justify-center border-b-2 border-accent/10 py-0.5 text-xs sm:py-2.5 sm:text-base"
            >
              <button
                class="button-text focus:ring-offset-overlay"
                (click)="refreshCredentials()"
              >
                <ng-icon
                  class="min-w-fit"
                  name="lucideLock"
                  aria-hidden="true"
                ></ng-icon>
                Confirme que é você para ver a senha
              </button>
            </div>
          }

          <p class="px-responsive mb-1 mt-2 text-xs sm:mt-4 sm:text-base">
            Use estas informações caso precise fazer login no app oficial da
            General Goods.
            <strong>Não compartilhe sua senha com ninguém.</strong>
          </p>
        </section>
      }

      <section class="grouping-card">
        <h2 class="grouping-card-title px-responsive">Sua conta do Rusbé</h2>

        <a
          class="grouping-card-strip-button block w-full"
          href="https://myaccount.google.com/personal-info{{
            authUserQueryParam()
          }}"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="grouping-card-strip-button-inner">
            <ng-icon
              class="min-w-fit"
              name="lucideUserRoundPen"
              aria-hidden="true"
            ></ng-icon>
            <div class="w-full text-overlay-contrast">
              <h3>Editar meu perfil</h3>
              <p class="my-1 text-xs font-normal sm:text-base">
                Seu perfil do Rusbé é vinculado à sua UFPE ID. Você será
                redirecionado para a página Minha Conta do Google para editá-lo.
              </p>
            </div>
            <ng-icon
              class="min-w-fit"
              name="lucideSquareArrowOutUpRight"
              aria-hidden="true"
            ></ng-icon>
          </div>
        </a>

        <button
          class="grouping-card-strip-button w-full"
          (click)="promptDeleteAccount()"
        >
          <div class="grouping-card-strip-button-inner">
            <ng-icon
              class="min-w-fit"
              name="lucideTrash"
              aria-hidden="true"
            ></ng-icon>
            <div class="w-full text-overlay-contrast">
              <h3>Apagar minha conta</h3>
              <p class="my-1 text-xs font-normal sm:text-base">
                Apaga sua conta do Rusbé e todos os seus dados associados. Sua
                conta da General Goods não será apagada.
              </p>
            </div>
            <ng-icon
              class="min-w-fit"
              name="lucideChevronRight"
              aria-hidden="true"
            ></ng-icon>
          </div>
        </button>
      </section>

      <div class="px-responsive mb-2 sm:mb-4">
        <button
          class="button-text focus:ring-offset-background"
          (click)="signOut()"
        >
          <ng-icon name="lucideLogOut" aria-hidden="true"></ng-icon> Sair da
          conta
        </button>
      </div>
    </main>
  </div>
</div>

<ng-template #confirmDialog>
  <div class="mx-4 sm:mx-0">
    <div class="w-full rounded-xl bg-overlay p-4 sm:p-6">
      <h1
        class="mb-2 text-lg leading-tight sm:mb-4 sm:text-2xl sm:leading-normal"
      >
        Você tem certeza de que deseja apagar sua conta?
      </h1>
      <div class="pb-4 sm:pb-8">
        <p>
          Esta ação é irreversível e
          <strong>apagará todos os seus dados do Rusbé</strong>, incluindo sua
          chave criptográfica.
        </p>
        <p class="pt-1 sm:pt-2">
          <strong>Isto não irá apagar sua conta da General Goods.</strong>
        </p>
      </div>
      <div class="mt-4 flex flex-row justify-end gap-4">
        <button
          class="button-text focus:ring-offset-overlay"
          (click)="dialog.closeAll()"
        >
          Não, cancelar
        </button>
        <button
          class="button-fill focus:ring-offset-overlay"
          (click)="deleteAccount()"
        >
          Sim, apagar
        </button>
      </div>
    </div>
  </div>
</ng-template>
