@if (pixTransactionData()) {
  <div class="grouping-cards-container my-2 sm:my-4">
    <section rusbe-card-group [title]="'PAGAR COM PIX'">
      <div class="px-responsive flex w-full flex-col gap-5">
        <div>
          <div class="inline-flex gap-4">
            <p class="text-2xl">R$</p>
            <p class="font-geometric text-2xl">
              <strong> {{ parsedTopUpValue() }}</strong>
            </p>
          </div>
        </div>

        <p class="break-all">
          {{ pixTransactionData()?.qrCodeString }}
        </p>

        <div class="flex flex-col gap-3">
          <button
            (click)="copyPasswordToClipboard()"
            class="button-split px-responsive bg-accent text-accent-contrast focus:ring-offset-background"
          >
            <span> Copiar código </span>
            <div class="flex flex-row items-center gap-2">
              @if (copiedToClipboard()) {
                <span class="font-light"> Copiado! </span>
              }
              <ng-icon
                class="color-accent-contrast min-w-fit"
                name="lucideCopy"
                aria-hidden="true"
              >
              </ng-icon>
            </div>
          </button>
          <button
            (click)="showPixQrCode.set(!showPixQrCode())"
            [disabled]="!pixQrCodeSource()"
            class="button-split px-responsive bg-accent-contrast text-accent focus:ring-offset-background"
          >
            {{ showPixQrCode() ? 'Esconder' : 'Mostrar' }} código QR Pix
            <ng-icon
              class="color-accent-contrast min-w-fit"
              name="lucideScanQrCode"
              aria-hidden="true"
            ></ng-icon>
          </button>
        </div>

        @if (showPixQrCode()) {
          <img
            class="w-full rounded-3xl"
            [src]="pixQrCodeSource()"
            alt="Código QR Pix"
          />
        }

        <p>
          Realize o pagamento usando o app do banco ou instituição financeira de
          sua preferência. A transação pode levar alguns minutos para ser
          processada.
        </p>

        <div class="flex items-center gap-2">
          <ng-icon
            class="color-accent-contrast min-w-fit"
            name="lucideCalendarDays"
            aria-hidden="true"
          ></ng-icon>
          <p>
            <strong>{{ LOCALIZED_CURRENT_DATE }}</strong>
          </p>
        </div>
        <div
          class="grid min-w-fit auto-cols-max grid-flow-col grid-rows-2 gap-x-2"
        >
          <div class="row-span-2 grid items-center">
            <ng-icon
              class="color-accent-contrast min-w-fit"
              name="lucideUserRound"
              aria-hidden="true"
            ></ng-icon>
          </div>
          <div class="col-span-1 row-span-1 grid">
            <p class="w-fit font-geometric tabular-nums">
              <strong>{{ parsedCpf() }}</strong>
            </p>
          </div>
          <div class="col-span-1 row-span-1 grid">
            <p class="text-condensed w-auto">
              {{ name() }}
            </p>
          </div>
        </div>
        <p class="text-xs">
          Tempo restante para pagamento: <strong>{{ timeLeft() }}</strong>
        </p>
      </div>
    </section>
    <div class="px-responsive flex flex-col gap-5">
      <p>
        <strong
          >Sempre verifique se o destinatário do seu pagamento corresponde à
          General Goods.</strong
        >
      </p>
      <p>
        Esta transação é feita diretamente à General Goods, e o Rusbé não
        recebe, processa ou armazena dados de pagamento. A General Goods é
        responsável por processar seu pagamento e pelas informações de créditos
        e recarga mostradas.
      </p>
    </div>
  </div>
} @else {
  <div
    class="flex h-full w-full flex-col items-center justify-center gap-4 py-4 sm:gap-8"
  >
    <div class="h-12 w-12 sm:h-16 sm:w-16">
      <rusbe-spinner></rusbe-spinner>
    </div>
    <p class="text-balance text-xl sm:text-3xl">Gerando código pix...</p>
  </div>
}
