<div class="pt-safe px-safe w-full bg-acerola">
  <div class="reduced-page-container p-4">
    <rusbe-header [type]="HEADER_TYPE"> Sobre o Rusbé </rusbe-header>

    <h2
      class="mb-8 mt-12 text-3xl leading-snug text-farofa sm:mb-16 sm:mt-16 sm:text-4xl sm:leading-snug"
    >
      Seu jeito de acompanhar o RU
      <strong class="md:text-nowrap">com mais tempero</strong>.
    </h2>
  </div>
</div>

<div class="reduced-page-container px-safe flex flex-col items-start sm:-mt-8">
  <img alt="" class="max-h-72" src="assets/artworks/shapes-pumpkin.svg" />
</div>

<div class="reduced-page-container px-safe pb-safe">
  <div class="my-8 flex max-w-prose flex-col gap-8 p-4">
    <p class="text-lg sm:text-xl sm:leading-normal">
      Às vezes,
      <strong>parece que o Restaurante Universitário é um favor</strong>. Como
      se não pudéssemos ter comodidade, reivindicar melhorias e apontar
      problemas porque é um serviço oferecido e subsidiado pela universidade.
    </p>

    <p class="text-lg sm:text-xl sm:leading-normal">
      O Restaurante Universitário não é um favor:
      <strong
        >é um mecanismo de permanência na universidade, uma necessidade para
        centenas de pessoas alunas da UFPE</strong
      >. Se o Rusbé puder melhorar, nem que seja um tiquinho só, a experiência
      das pessoas alunas, funcionárias, e toda a comunidade que usufrui do RU,
      ficamos muito felizes.
    </p>

    <p>
      O Rusbé é um projeto de código aberto mantido com muito carinho por
      <a
        class="body-link"
        href="https://github.com/rusbeapp/web-app/contributors"
        target="_blank"
        rel="noopener noreferrer"
        >Erick Riso e contribuidores</a
      >
      e não tem nenhum vínculo com a General Goods.
    </p>
    <p *ngIf="false">
      <!-- TODO: Show this when traffic data is implemented -->
      Dados de tráfego e movimento fornecidos por cortesia de
      <a
        class="body-link"
        href="https://besttime.app"
        target="_blank"
        rel="noopener noreferrer"
        >BestTime</a
      >.
    </p>
  </div>

  <div
    class="mb-6 bg-overlay py-4 font-geometric text-base sm:mb-8 sm:text-lg md:mx-4 md:mt-4 md:rounded-xl md:px-2"
  >
    <h3 class="geometric-title my-2 px-4 text-accent">
      Siga a gente nas redes sociais
    </h3>

    <ul class="my-4 flex flex-col justify-between gap-3 sm:gap-4">
      <li *ngFor="let socialNetwork of socialNetworks">
        <a
          class="body-link flex flex-row items-center gap-2 px-4"
          [href]="socialNetwork.url"
          ><ng-icon aria-hidden="true" [name]="socialNetwork.icon"></ng-icon
          >{{ socialNetwork.name }}</a
        >
      </li>
    </ul>
  </div>

  <div
    class="mb-6 bg-overlay py-4 font-geometric text-base sm:mb-8 sm:text-lg md:mx-4 md:mt-4 md:rounded-xl md:px-2"
  >
    <h3 class="geometric-title my-2 px-4 text-accent">Mais informações</h3>

    <ul class="my-4 flex flex-col justify-between gap-3 sm:gap-4">
      <li>
        <a
          class="body-link flex flex-row items-center gap-2 px-4"
          routerLink="/legal/terms"
          >Termos de Serviço</a
        >
      </li>
      <li>
        <a
          class="body-link flex flex-row items-center gap-2 px-4"
          routerLink="/legal/privacy"
          >Política de Privacidade</a
        >
      </li>
      <li>
        <a
          class="body-link flex flex-row items-center gap-2 px-4"
          href="https://status.rusbe.app"
          >Status da Plataforma
          <img
            src="https://status.rusbe.app/embed-badges/pulse"
            loading="lazy"
            alt=""
          />
        </a>
      </li>
    </ul>
  </div>

  <div
    class="geometric-title my-8 flex flex-col items-start gap-1 px-4 sm:my-10 sm:gap-2"
  >
    <p>rusbé-web-app {{ APP_VERSION }}</p>

    @switch (serviceWorkerUpdateStatus) {
      @case (ServiceWorkerUpdateStatus.Initializing) {
        <p class="flex flex-row items-center gap-1.5 font-normal sm:gap-2">
          <rusbe-spinner class="h-3 w-3 sm:h-4 sm:w-4"></rusbe-spinner>
          <span>Verificando se há atualizações...</span>
        </p>
      }
      @case (ServiceWorkerUpdateStatus.Unavailable) {
        <p class="font-normal">Serviço de atualização indisponível</p>
      }
      @case (ServiceWorkerUpdateStatus.CheckingForUpdate) {
        <p class="flex flex-row items-center gap-1.5 font-normal sm:gap-2">
          <rusbe-spinner class="h-3 w-3 sm:h-4 sm:w-4"></rusbe-spinner>
          <span>Atualizando...</span>
        </p>
      }
      @case (ServiceWorkerUpdateStatus.ErrorWhileChecking) {
        <p class="font-normal">Erro ao verificar atualizações</p>
      }
      @case (ServiceWorkerUpdateStatus.UpdateReady) {
        <button class="body-link uppercase" (click)="reload()">
          Reinicie para completar a atualização
        </button>
      }
      @case (ServiceWorkerUpdateStatus.Updated) {
        <p class="font-normal">Atualizado</p>
      }
    }
  </div>
</div>
