<div class="flex min-h-[70%] flex-col gap-4 py-4 sm:gap-8">
  <img
    src="assets/artworks/shapes-key.svg"
    alt=""
    class="h-12 self-start sm:h-16"
  />

  <p class="text-balance text-xl sm:text-3xl">
    <strong
      >Parece que você trocou a senha ou apagou a sua conta da General
      Goods.</strong
    >
    Para continuar usando o Rusbé, você precisa reconfigurar a sua conta.
  </p>
</div>
<div
  class="flex min-h-[30%] flex-col items-center justify-end gap-2 py-4 sm:gap-4 sm:pb-16"
>
  @if (clearingStatus() === IntegrationDataClearingStatus.ClearingData) {
    <rusbe-interlude>Limpando dados antigos...</rusbe-interlude>
  } @else {
    @if (
      clearingStatus() === IntegrationDataClearingStatus.ClearingDataFailed
    ) {
      <rusbe-warning-card class="transition-appear"
        ><p>
          Não foi possível reconfigurar sua conta. Por favor, tente novamente.
          Caso o erro persista, entre em contato com a gente.
        </p></rusbe-warning-card
      >
    }
    <button
      (click)="exitWizard.emit()"
      class="button-text button-full button-large focus:ring-offset-background"
    >
      Mais tarde
    </button>
    <button
      (click)="clearIntegrationDataAndContinue()"
      class="button-fill button-full button-large focus:ring-offset-background"
    >
      Continuar
    </button>
  }
</div>
