<div class="flex min-h-[70%] flex-col gap-4 py-4 sm:gap-8">
  <img
    src="assets/artworks/shapes-key.svg"
    alt=""
    class="h-12 self-start sm:h-16"
  />

  <p class="text-balance text-xl sm:text-3xl">Qual o seu CPF?</p>

  <form (ngSubmit)="continue()">
    <rusbe-jumbo-text-input
      identifier="general-goods-identifier-input"
      label="CPF"
      placeholder="___.___.___-__"
      [type]="JumboTextInputType.CPF"
      [(value)]="identifier"
    ></rusbe-jumbo-text-input>
  </form>
  <!-- TODO: Allow usage of non-CPF identifiers -->
</div>
<div
  class="flex min-h-[30%] flex-col items-center justify-end gap-2 py-4 sm:gap-4 sm:pb-16"
>
  <button
    (click)="goToStep.emit(WizardStep.NewGeneralGoodsAccountDisclaimer)"
    class="button-text button-full button-large focus:ring-offset-background"
  >
    Voltar
  </button>
  <button
    (click)="continue()"
    class="button-fill button-full button-large focus:ring-offset-background"
  >
    Continuar
  </button>
</div>
